<mat-toolbar color="primary"><span>Morpio</span></mat-toolbar>
<div class="container">
  <p>{{getWin | json}}</p>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let tile of tiles">
      <button mat-raised-button color="accent" class="tile" (click)="changeTileState(tile.index)">
        <mat-icon>{{getIconFromTileState(tile.state)}}</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<h2>Au tour de {{playerShape}}</h2>


<!--<div class="foreground">-->
<!--  <button mat-raised-button>Démarrer</button>-->
<!--</div>-->
